body {
    display:flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    min-width: none;
    margin-right: 0px;
}

.container {
    background-color: #1F2937;
    height: 120px;
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 120px;
    width: 120px;
    color: #F9FAF8;
}


.header-link  {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    column-gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

a:hover {
    font-size: 24px;
    color: grey;
}

.hero {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 50px;
    background-color:#1F2937 ;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    flex:1 1 auto;
    padding-left: 50px;
}

.hero-main {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    width: 100%;
}

h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    font-size: 16px;
    background-color: #3882f6;
    width: 100px;
    border-style: hidden;
    border-radius: 5px;
    color:#E5E7EB ;
    padding: 5px
}

button:hover {
    background-color: #E5E7EB;
    color:#3882f6 ;
}

.hero-img img {
    display: flex;
    flex-wrap: wrap;
    flex:0 1 auto;
    height: 250px;
    width: 90%;
    border-radius: 10px;
}

.info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 50px;
}

.image-with-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}
 .card  img {
     max-width: 250px;
     max-height: 150px;
     margin-bottom: 16px;
     border-radius: 10px;
     border: 5px solid #3882f6;

 }

 .text {
     max-width: 200px;
     font-size: 18px;
     text-align: center;
 }

 .card img:hover {
    border-color: black;
    max-width: 500px;
    max-height: 500px;
 }

 .quote-text {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #E5E7EB;
     font-size: 24px;
     font-family: italic;
     color: #1F2937;
     padding-top: 50px;
     padding-bottom: 50px;
 }

 .quote-text footer {
     display: flex;
     justify-content: flex-end;
     font-weight: bolder;
 }

 .signup-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
 }

 .signup-box .box {
     display:flex;
     justify-content: space-around;
     align-items: center;
     width: 800px;
     background-color: #3882f6;
     border-radius: 10px;
     padding: 20px;
 }

 .call-to-a {
     font-weight: bolder;
 }

 .box button {
     border: solid 2px #E5E7EB;
     color: #E5E7EB;
     font-weight: bold;
 }

 .box button:hover {
     background-color: #E5E7EB;
     color: #3882f6;

 }

 .footer-end {
     background-color: #1F2937;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #E5E7EB;
     font-size: 18px;
     min-height: 80px;
 }








